
$font-base: "Onest", sans-serif;
$font-display: "Onest", sans-serif;
$browser-context: 16;

$pri-50   : #eff9ff;
$pri-100  : #dbf1fe;
$pri-200  : #bfe7fe;
$pri-300  : #94d9fc;
$pri-400  : #61c3f9;
$pri-500  : #3ca6f5;
$pri-600  : #268aea;
$pri-700  : #1c6bc9;
$pri-800  : #1f5cae;
$pri-900  : #1f4f89;
$pri-950  : #173154;

$sec-50   : #fef7ee;
$sec-100  : #fdeed7;
$sec-200  : #fad8ae;
$sec-300  : #f6bc7b;
$sec-400  : #f19646;
$sec-500  : #ed7923;
$sec-600  : #de5f18;
$sec-700  : #b84816;
$sec-800  : #933a19;
$sec-900  : #763218;
$sec-950  : #40170a;

$blue-50: #eff6ff;
$blue-100: #dbeafe;
$blue-200: #bedbff;
$blue-300: #8ec5ff;
$blue-400: #51a2ff;
$blue-500: #2b7fff;
$blue-600: #155dfb;
$blue-700: #1447e6;
$blue-800: #193cb8;
$blue-900: #1c398e;
$blue-950: #162556;

$green-50  : #f0fdf4;
$green-100 : #dcfce7;
$green-200 : #bbf7d0;
$green-300 : #86efac;
$green-400 : #4ade80;
$green-500 : #22c55e;
$green-600 : #16a34a;
$green-700 : #15803d;
$green-800 : #166534;
$green-900 : #14532d;
$green-950 : #052e16;

$teal-50: #f0fdfa;
$teal-100: #ccfbf1;
$teal-200: #99f6e4;
$teal-300: #5eead4;
$teal-400: #2dd4bf;
$teal-500: #14b8a6;
$teal-600: #0d9488;
$teal-700: #0f766e;
$teal-800: #115e59;
$teal-900: #134e4a;
$teal-950: #042f2e;

$purple-50: #faf5ff;
$purple-100: #f3e8ff;
$purple-200: #e9d5ff;
$purple-300: #d8b4fe;
$purple-400: #c084fc;
$purple-500: #a855f7;
$purple-600: #9333ea;
$purple-700: #7e22ce;
$purple-800: #6b21a8;
$purple-900: #581c87;
$purple-950: #3c0366;

$fuch-50  : #fdf4ff;
$fuch-100 : #fae8ff;
$fuch-200 : #f6cfff;
$fuch-300 : #f4a8ff;
$fuch-400 : #ed6bff;
$fuch-500 : #e12afb;
$fuch-600 : #c800de;
$fuch-700 : #a800b7;
$fuch-800 : #8a0194;
$fuch-900 : #721378;
$fuch-950 : #4b004f;

$gray-50  : #fafafa;
$gray-100 : #f5f5f5;
$gray-200 : #e5e5e5;
$gray-300 : #d4d4d4;
$gray-400 : #a1a1a1;
$gray-500 : #737373;
$gray-600 : #525252;
$gray-700 : #404040;
$gray-800 : #262626;
$gray-900 : #171717;
$gray-950 : #0a0a0a;

$slate-50  : #F8FAFC;
$slate-100 : #F1F5F9;
$slate-200 : #E2E8F0;
$slate-300 : #CAD5E2;
$slate-400 : #90A1B9;
$slate-500 : #62748E;
$slate-600 : #45556C;
$slate-700 : #314158;
$slate-800 : #1D293D;
$slate-900 : #0F172B;
$slate-950 : #020618;


$white : #fff;

// Ease
$easeoutCubic: cubic-bezier(0.22, 0.61, 0.36, 1);
$easeoutback: cubic-bezier(0.18, 0.89, 0.72, 1.03);
$ease1: cubic-bezier(0.18, 0.89, 0.32, 1.28);
$easeOut: cubic-bezier(0.28, 0.44, 0.49, 1);
$easeIn: cubic-bezier(0.28, 0.44, 0.49, 1);

// Screen Size

$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-xxl: 1536px;
