@use './functions' as *;

.header{
  width: 100%;
  overflow: hidden;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  background: $white;
  box-shadow: 0 4px 8px -8px rgba($slate-900, 0.2);

  a.icon-link{
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    background: $slate-100;
    border: solid 1px $slate-200;

    i{
      font-size: 16px;
      background: linear-gradient(to bottom, $slate-600, $slate-800);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }

  .right, .left{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .left{
    gap: 12px;
  }

  .right{
    margin-left: auto;
    gap: 14px;
  }

  .title{
    color: $pri-600;
    @include text-truncate;
    max-width: 140px;
  }

  a.logo{
    img{
      max-width: 24px;
      height: auto;
    }

    span{
      color: $pri-600;
      font-size: 18px;
      font-weight: 500;
      line-height: 1;
    }
  }
  
  a.ham{
    gap: 4px;
    background: transparent;
    align-items: flex-start;
    border: none;

    .bar {
      width: 100%;
      height: 2px;
      max-width: 20px;
      background: $gray-800;
      border-radius: 8px;
      
      &:nth-child(3){
        max-width: 12px;
      }

      &:nth-child(1){
        max-width: 16px;
      }
    }
  }

  a.rewards{
    flex-direction: row;
    gap: 9px;
    background: linear-gradient(to bottom, $sec-50, $sec-100);
    border: solid 1px $sec-100;
    width: fit-content;
    padding-left: 14px;
    padding-right: 14px;

    i{
      top: -1px;
      color: $sec-600;
    }

    span{
      font-weight: bold;
      color: $sec-600;
    }
  }

  .my-account{
    padding: 4px;
    width: 32px;
    height: 32px;
    text-align: center;
    background: $sec-100;

    i{      
      position: relative;
      top: -1px;
    }

    span.number{
      position: absolute;
      width: 2px;
      height: 24px;
      text-align: center;
    }
  }
}

.location-bar{
  padding: 16px 8px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  background: rgba($pri-100, 0.2);
  width: 100%;

  & .flex{
    width: 85%;
    gap: 8px;
  }

  .location-name {
    color: $gray-800;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 1.2;
  }
}

.bottom-nav{
  position: fixed;
  inset: auto 0 0 0;
  z-index: 10;
  display: flex;
  gap: 20px;
  padding: 16px 24px;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  max-width: 420px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 16px 16px 0 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.3px);
  -webkit-backdrop-filter: blur(13.3px);
  border: 1px solid rgba(255, 255, 255, 0.78);

  .drawer-open &{
    transform: translateY(100%);
  }

  a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    transition: all 0.4s ease;

    i{
      font-size: 24px;
      background: linear-gradient(to bottom, $gray-400, $gray-600);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    span{
      font-size: 10px;
      color: $gray-400;
      font-weight: 600;
    }

    &.active{

      span{
        color: $pri-500;
      }

      i{
        background: linear-gradient(to top, $pri-600, $pri-400);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }
  }
}

.overlay{
  display: block;
  position: fixed;
  background: rgba($gray-900, 0.8);
  backdrop-filter: blur(10px);
  z-index: 1001;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 1000;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100vh;
  width: 100%;
  max-width: 360px;
  background: $white;
  z-index: 1002;
  display: flex;
  flex-direction: column;
  transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transform: translateX(-100%);
  overflow-y: scroll;
  
  &.active {
    transform: translateX(0); // 👈 slide in
  }

  &-header{
    background: rgba($pri-400, 0.15);
    padding: 16px;
    position: relative;

    .user-avatar img{
      max-width: 52px;
      border-radius: 4px;
      box-shadow: 0 0 8px 0px rgba($pri-400, 0.4);
      border: solid 1px #fff;
    }

    .user-details{
      padding-left: 16px;

      h3{
        font-size: 18px;
        font-weight: 600;
      }

      p{
        font-size: 14px;
        color: $gray-600;
      }
    }

    a.close-menu{
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 6px;
      color: #460809;
      width: 40px;
      height: 40px;
      background: $white;
      border-radius: 0 0 0 8px;
      line-height: 1;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      i{
        position: relative;
        font-size: 18px;
      }
    }
  }

  &-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;

    a{
      font-size: 15px;
      padding: 16px;
      transition: all 0.4s ease-in-out;
      border-bottom: solid 1px $gray-200;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;

      &:first-child{
        border-top: solid 1px $gray-200;
      }

      &:hover{
        color: $pri-500;
        background: rgba($pri-400, 0.1);
      }
    }
  }

  &-footer{
    padding: 32px 16px;
    background: rgba($gray-100, 0.5);
    display: flex;
    flex-direction: column;
    margin-top: auto;

    p{
      margin-bottom: 8px;
      font-size: 14px;
      color: $gray-500;
    }

    .in-india{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;

      img{
        max-width: 40px;
      }
    }
  }
}