@use './functions' as *;

.pill{
  background: #fff;
  border-radius: 24px;
  border: solid 1px $slate-300;
  padding: 6px 16px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
  color: $slate-600;
  // min-width: 120px;
  // width: 100%;
  text-transform: capitalize;

  &.active{
    background: $pri-500;
    color: $white;
    border-color: $pri-600;
  }
}

.voucher-card{
  border: solid 1px $slate-300;
  border-radius: 8px;
  overflow: hidden;

  .image-container{
    position: relative;

    .badge{
      border-radius: 6px;
      right: 8px;
      top: 8px;
    }
  }

  .brand-logo{
    max-width: 140px;
    padding-left: 12px;
    background: $white;
    margin-top: -12px;
    margin-bottom: 12px;
    position: relative;
    z-index: 2;
    border-top-right-radius: 8px;
  }

  .voucher-content{
    padding: 12px;
    padding-top: 0;
  }

  .text-sm{
    font-size: 16px;
    line-height: 1.4;
  }

  .text-xs{
    display: flex;
    font-size: 14px;
    margin-top: 16px;
    background: rgba($green-200, 0.8);
    padding: 6px 12px;
    width: fit-content;
    border-radius: 16px;
  }
}